body, .app, .app section{ background-color:#6e6e6e; color:#acacac;}
h1{ color:#bbbbFF; }
button{ color:#000; }

nav{
	padding: 20px;
	position: relative;
}
.ios nav{ margin-top: 20px; }
nav a, nav a:active, nav a:visited, nav a:hover, nav a:focus{ color: #ffffff; padding: 5px; }
nav a .glyphicon{ margin-right:2px; }